:root {
    --donutssecondary-0: rgba(247, 249, 252, 1);
    --donutssecondary-20: rgba(212, 212, 214, 1);
    --donutssecondary-40: rgba(169, 170, 173, 1);
    --donutssecondary-60: rgba(127, 127, 133, 1);
    --donutssecondary-80: rgba(84, 85, 92, 1);
    --donutssecondary-100: rgba(41, 42, 51, 1);
    --donutssecondary-120: rgba(20, 21, 25, 1);
    --donutssecondarybg: rgba(0, 61, 100, 1);
    --donutsprimary-100: rgba(45, 170, 86, 1);
    --donutsprimary-120: rgba(38, 145, 74, 1);
    --donutsprimary-80: rgba(87, 187, 120, 1);
    --donutsprimary-60: rgba(129, 204, 154, 1);
    --donutsprimary-40: rgba(171, 221, 187, 1);
    --donutsprimary-20: rgba(213, 238, 221, 1);
    --donuts-body-xs-font-family: "Inter-Regular", Helvetica;
    --donuts-body-xs-font-weight: 400;
    --donuts-body-xs-font-size: 12px;
    --donuts-body-xs-letter-spacing: 0px;
    --donuts-body-xs-line-height: 16px;
    --donuts-body-xs-font-style: normal;
    --donuts-body-sm-font-family: "Inter-Regular", Helvetica;
    --donuts-body-sm-font-weight: 400;
    --donuts-body-sm-font-size: 14px;
    --donuts-body-sm-letter-spacing: 0px;
    --donuts-body-sm-line-height: 20px;
    --donuts-body-sm-font-style: normal;
    --donuts-body-base-font-family: "Inter-Regular", Helvetica;
    --donuts-body-base-font-weight: 400;
    --donuts-body-base-font-size: 16px;
    --donuts-body-base-letter-spacing: 0px;
    --donuts-body-base-line-height: 24px;
    --donuts-body-base-font-style: normal;
    --donuts-body-lg-font-family: "Inter-Regular", Helvetica;
    --donuts-body-lg-font-weight: 400;
    --donuts-body-lg-font-size: 18px;
    --donuts-body-lg-letter-spacing: 0px;
    --donuts-body-lg-line-height: 28px;
    --donuts-body-lg-font-style: normal;
    --donuts-body-upper-font-family: "Inter-Regular", Helvetica;
    --donuts-body-upper-font-weight: 400;
    --donuts-body-upper-font-size: 16px;
    --donuts-body-upper-letter-spacing: 0px;
    --donuts-body-upper-line-height: 24px;
    --donuts-body-upper-font-style: normal;
    --donuts-button-sm-font-family: "Inter-SemiBold", Helvetica;
    --donuts-button-sm-font-weight: 600;
    --donuts-button-sm-font-size: 16px;
    --donuts-button-sm-letter-spacing: 0px;
    --donuts-button-sm-line-height: 24px;
    --donuts-button-sm-font-style: normal;
    --donuts-button-lg-font-family: "Inter-SemiBold", Helvetica;
    --donuts-button-lg-font-weight: 600;
    --donuts-button-lg-font-size: 18px;
    --donuts-button-lg-letter-spacing: 0px;
    --donuts-button-lg-line-height: 28px;
    --donuts-button-lg-font-style: normal;
    --donuts-heading-xl-font-family: "Inter-Medium", Helvetica;
    --donuts-heading-xl-font-weight: 500;
    --donuts-heading-xl-font-size: 20px;
    --donuts-heading-xl-letter-spacing: 0px;
    --donuts-heading-xl-line-height: 28px;
    --donuts-heading-xl-font-style: normal;
    --donuts-heading-2xl-font-family: "Inter-SemiBold", Helvetica;
    --donuts-heading-2xl-font-weight: 600;
    --donuts-heading-2xl-font-size: 24px;
    --donuts-heading-2xl-letter-spacing: 0px;
    --donuts-heading-2xl-line-height: 32px;
    --donuts-heading-2xl-font-style: normal;
    --donuts-heading-3xl-font-family: "Inter-Bold", Helvetica;
    --donuts-heading-3xl-font-weight: 700;
    --donuts-heading-3xl-font-size: 30px;
    --donuts-heading-3xl-letter-spacing: 0px;
    --donuts-heading-3xl-line-height: 36px;
    --donuts-heading-3xl-font-style: normal;
    --donuts-heading-4xl-font-family: "Inter-ExtraBold", Helvetica;
    --donuts-heading-4xl-font-weight: 800;
    --donuts-heading-4xl-font-size: 36px;
    --donuts-heading-4xl-letter-spacing: 0px;
    --donuts-heading-4xl-line-height: 40px;
    --donuts-heading-4xl-font-style: normal;
    --donuts-heading-5xl-font-family: "Inter-Regular", Helvetica;
    --donuts-heading-5xl-font-weight: 400;
    --donuts-heading-5xl-font-size: 48px;
    --donuts-heading-5xl-letter-spacing: 0px;
    --donuts-heading-5xl-line-height: 48px;
    --donuts-heading-5xl-font-style: normal;
    --shadow-md: 4px 5px 0px 1px rgba(0, 61, 100, 1);
}
